@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* PARTE DE NAVEGACION */
body {
  background-color: #f0eff2;
}

header .navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  background-color: #74a2bf;
}
header .navbar .container-fluid {
  font-family: "Bebas Neue";
  font-size: 20px;
  animation: 2s;
  animation-name: aparecer;
  text-align: center;
  border-radius: 10px;
}
header .navbar .container-fluid a:hover {
  background-color: #334459;
  transition: all 2s;
  border-radius: 10px;
  text-align: center;
}

/* PANTONE DE COLORES */
/* FUENTES */
.TituloPrincipal {
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #334459;
  letter-spacing: 2px;
  text-align: center;
}

.Subtitulos {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.textoSubtitulos {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.tituloGrande {
  font-family: Roboto, sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #334459;
  letter-spacing: 2px;
  text-align: center;
}

.volverLink {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #7eacbf;
  letter-spacing: 2px;
  text-align: center;
}

.NuestrosValores {
  scroll-margin-top: 7em;
}

.carousel-inner {
  margin-top: 50px;
}

/* PARTE DE SERVICIOS */
.Servicios {
  background-color: #f2c0ae;
  scroll-margin-top: 2em;
  margin-bottom: 50px;
}
.Servicios .TituloPrincipal {
  padding-top: 50px;
}

.Servicios {
  background-color: #f2c0ae;
}

.imagenServicios1 {
  border-radius: 10px;
  margin: 10px;
}

.imagenServicios2 {
  border-radius: 10px;
  margin: 10px;
}

.imagenServicios3 {
  border-radius: 10px;
  margin: 10px;
}

.imagenServicios4 {
  border-radius: 10px;
  margin: 10px;
}

.caja-base .container .col {
  color: #f0eff2;
  background-color: #7eacbf;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 10px;
  margin: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* PARTE DE CLIENTES */
.Clientes {
  margin-top: 50px;
  scroll-margin-top: 2em;
}
.Clientes .container {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

.TituloPrincipal {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #334459;
  letter-spacing: 2px;
  text-align: center;
}
.TituloPrincipal .Subtitulos {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* PARTE DE TRABAJAS CON NOSOTROS */
.Trabajaconnosotros {
  margin-top: 50px;
  background-color: #7eacbf;
  padding: 50px;
  scroll-margin-top: 2em;
}
.Trabajaconnosotros .TituloPrincipal {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #f0eff2;
  letter-spacing: 2px;
  text-align: center;
}
.Trabajaconnosotros .TituloPrincipal .Subtitulos {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

form {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

/* PARTE DE LOGOS */
.Logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 100px;
  letter-spacing: 50px;
  align-items: center;
}
.Logos img {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

/* PARTE DE CONTACTO */
.Contacto {
  background-color: #f2c0ae;
  scroll-margin-top: 2em;
}
.Contacto .TituloPrincipal {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 50px;
}

.formulario {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
}
.formulario form {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

/* PARTE DE FOOTER */
.footer {
  background-color: #929292;
  padding-top: 50px;
  height: 150px;
}
.footer .redesSociales, .footer a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  list-style: none;
}

.copy {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-top: 5px;
}

/* PARTE DE ERROR 404 */
.body-error {
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
}
.body-error a {
  background-color: #f2c0ae;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

/*# sourceMappingURL=estilo.css.map */
