/* PANTONE DE COLORES */ 

$fondoblanco: rgba(240, 239, 242, 1);
$azul: rgba(51, 68, 89, 1); 
$celestenav: rgba(116, 162, 191, 1);
$celesteClaro: rgba(126, 172, 191, 1);
$rosa: rgba(242, 192, 174, 1);

