/* PARTE DE CLIENTES */

.Clientes {
    margin-top: 50px;
    scroll-margin-top: 2em;
    
    .container{
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        margin: 5px;

    }
}
.TituloPrincipal {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(51, 68, 89, 1); 
    letter-spacing: 2px;
    text-align: center;

.Subtitulos {
    color: rgb(0, 0, 0);
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    }
}


