/* PARTE DE CONTACTO */

.Contacto {
    background-color: rgba(242, 192, 174, 1);
    scroll-margin-top: 2em;
    
    .TituloPrincipal {
        font-family: Roboto, sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: rgb(255, 255, 255); 
        letter-spacing: 2px;
        text-align: center;
        padding-top: 50px;
        

        }
    }

.formulario {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 20px;
       form {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: lighter;
       }
}
    
 




