/* PARTE DE LOGOS */
.Logos {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 100px;
    letter-spacing: 50px;
    align-items: center;
      img {
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        margin: 5px;
      }
}