
@media only screen and (max-width:800px) {
 
    html {
        .TituloPrincipal {
            font-size: 60px;
                .Subtitulos {
                   font-size: 16px;
                     .textoSubtitulos {
                        font-size: 16px;
                            .tituloGrande{
                                  font-size: 60px;
                                      .volverLink {
                                         font-size: 20px;
                                        }
                            }
                    }
            }
        }   
    }
}
   