/* PARTE DE SERVICIOS */

.Servicios {
    background-color: rgba(242, 192, 174, 1);
    scroll-margin-top: 2em;
    margin-bottom: 50px;
  
    .TituloPrincipal {
        padding-top: 50px;
    }
   
}

.imagenServicios1 {
    border-radius: 10px;
    margin: 5px;
}

.caja-base {
    .col-servicios {
        color: rgba(240, 239, 242, 1);
        background-color: rgba(126, 172, 191, 1);
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight:bold;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 10px;
        margin: 4px; 
        padding-top: 15px;
        padding-bottom: 15px;  
    }
}



