/* PARTE DE SERVICIOS */

.Servicios {
    background-color: rgba(242, 192, 174, 1);
    scroll-margin-top: 2em;
  
    .TituloPrincipal {
        padding-top: 50px;
    }
   
}

.Servicios {
    background-color: rgba(242, 192, 174, 1);
}

.imagenServicios1 {
    border-radius: 10px;
    margin: 10px;
}

.imagenServicios2 {
    border-radius: 10px;
    margin: 10px;
}

.imagenServicios3 {
    border-radius: 10px;
    margin: 10px;
}

.imagenServicios4 {
    border-radius: 10px;
    margin: 10px;
}


.container{

    .col {
        color: rgba(240, 239, 242, 1);
        background-color: rgba(126, 172, 191, 1);
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 10px;
        margin: 4px;   
    }
}


